*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Global / Utility Classes */

.flex {
    display: flex;
}

.wrapper {
    padding-inline: 0.5em;
    height: 100%;

}

li {
    list-style: none;
}

i {
    color: white;
    font-size: 1.325rem;
}

/* Header */

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 92px;
}

.header__list {
    display: flex;
    list-style: none;
}

.header__logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.425rem;
  letter-spacing: 0.3ch;
}

.header__item {
    margin-right: 1.5rem;
}

.header__link {
    text-decoration: none;
    color: black;
}

/* SideNav Bar */

.sidebar {
    display: flex;
    background-color: #121212;
    border-radius: 12px;
}


/* Main */

.dashboard-welcome {
    justify-content: space-between;
}

/* Cards */

.card-library {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    height: 100%;

}

.card {
    position: relative;
    text-align: center;
    border-radius: 16px;
    padding: 1.5em 2em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    
}

.fa-location-arrow {
    position: absolute;
    right: 12px;
    top: 12px;
    color: #1c1b20;
}

.card-title {
    font-size: 2rem;
    font-weight: 500;
}

.card-statistic {
    color: gray;
}

.card:first-of-type {
    background-color: #ffefe2;
}

.card:nth-of-type(2) {
    background-color: #f9fef8;
}

.card:nth-of-type(3) {
    background-color: #e6f5f9;
}

.card:nth-of-type(4) {
    background-color: #f4f6fa;
}

.card:nth-of-type(5) {
    background-color: #1c1b20;
    color: white;
}


/* Responsive larger screens only */

@media only screen and (min-width: 725px) {

    .header__nav {
        margin-left: 7rem;
    }
    .sidebar {
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 1rem;
        left: 1rem;
        width: 5rem;
        height: 97vh;
        padding: 1em 0;
    }
    .sidebar__item {
    height: 5rem;
}
    /*push social links to bottom of sidenav */
    .social-links {
    margin-top: auto;
}

.social-links {
    .sidebar__item {
        height: 2.5rem;
    }
}
    main {
    margin-left: 7em;
}
}

/* Responsive smaller screens */

@media only screen and (max-width: 725px) {
    .sidebar {
        position: fixed;
        height: 5rem;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: row;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;

    }

    .sidebar__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    /*Hide social links on smaller screens*/

    .social-links {
        display: none;
    }
}
